.notification-container {
	top: 5px;
	position: fixed;
	right: 24px;
	min-width: 250px;
	max-width: 400px;
	z-index: 9999;
	margin-bottom: 10px;
	overflow: auto;
	max-height: 100vh;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		display:none;
	}
}
