@import 'assets/styles/variables.scss';

.notification-item {
	margin-bottom: 10px;
	box-shadow: $shadow;
}

.notification-body {
	background-color: whitesmoke;
	border-radius: $border-radius;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
	position: relative;

	a {
		color: currentColor;
		text-decoration: underline;
	}

	> .dismiss {
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}

	&.primary {
		background-color: $color-primary;
	}

	&.link {
		background-color: $color-link;
		color: $color-white;
	}

	&.info {
		background-color: $color-info;
		color: $color-white; }

	&.success {
		background-color: $color-success;
		color: $color-white;
	}

	&.warning {
		background-color: $color-warning;
		color: $color-black;
	}

	&.danger {
		background-color: $color-danger;
		color: $color-white;
	}
}
