@import 'assets/styles/variables.scss';

.btn {
	display: inline-block;
	margin: 10px;
	padding: 5px 20px;
	border: none;
	background-color: #4082ed;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;

	&:hover {
		background: $btn-hover;
		-webkit-box-shadow: $shadow;
		-moz-box-shadow: $shadow;
		box-shadow: $shadow;
		transition: all 0.4s ease 0s;
	}

	&.success {
		background-color: $btn-success;
	}

	&.error {
		background-color: $btn-error;
	}

	&.warning {
		background-color: $btn-warning;
	}

	&.disabled {
		background-color: $btn-disabled;
	}
}
