/* COLORS */
$color-white: #FFFFFF;
$color-black: #000000;
$color-darkgrey: #666666;
$color-primary: #00D1B2;
$color-link: #3273DC;
$color-info: #209CEE;
$color-success: #23D160;
$color-warning: #FFDD57;
$color-danger: #FF3860;
$color-hover: #434343;
$color-disabled: #999999;

/* BORDERS AND SHADING */
$border-radius: 5px;
$shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
