@import 'assets/styles/modules/all';

.jumpstart-todo-item {
	text-transform: uppercase;
	background-color: #CECECE;
	color: $black;
	padding: 5px 5px 5px 15px;
	margin-bottom: 3px;
	display: flex;
	justify-content: space-between;

	&:hover {
		background-color: #FFDD57;
		font-weight: bold;
	}

	&.complete {
		text-decoration: line-through;
		color: $lightgrey;
	}
}
